.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.navigation__listItem {
    padding-bottom: 5px;
    transition: 5s linear;

}

.navigation__listItem:hover {
    border-bottom: 1px solid black;
    transition: 5s linear;

}
.navigation__link {
    color: black;
    text-decoration: none;
}

.shopIcon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.shopIcon__png:hover {
    transform: rotate(-15deg);
    transition: .2s linear;
}

.shopIcon::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: -10px;
    width: 2px;
    background-color: #000;
}

.shopIcon__png {
    width: 100%;
    transition: .2s linear;

}

