.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.774);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: royalblue;
    margin: 0px 0 20px;
}

.title__logo {
    width: 100px;
    height: 50px;
    color: #fff;
}

.title__surname {
    margin: -15px;
    font-size: 1.3rem;
    padding: 5px;
}
.navigation {
    padding-left: 150px;
}

.navigation__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding-left: 0px;
}

.navigation__listItem {
}

.navigation__listItem:hover {

}

.navigation__link {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: .2s linear;
    padding: 5px;
}

.navigation__listItem:hover .navigation__link {
    color: #fff;
    background-color: royalblue;
}

.shopIcon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.shopIcon__png:hover {
    transform: rotate(-15deg);
    transition: .2s linear;
}

.shopIcon::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: -10px;
    width: 2px;
    background-color: #000;
}

.shopIcon__png {
    width: 100%;
    transition: .2s linear;

}